<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Registration</title>
        <meta name='viewport' content='width=device-width, initial=scale=1'>
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="signup_form_container">
            <div class="signup_form">
                    <h2>Signup</h2>
                <form action='register' method='post' class="signup">
                   {% csrf_token%}
                   <div class="input_group">
                    <i class="fa fa-user icon"></i>
                        <input type='text' name='username' placeholder='Username' class="input_text" autocomplete="off" required><br>
                    </div>
                    <div class="input_group">
                        <i class="fa fa-envelope icon"></i>
                        <input type='email' name='email' placeholder='email' class="input_text" autocomplete="off" required><br>
                    </div>
                    <div class="input_group">
                        <i class="fa fa-key icon"></i>
                        <input type='password' name='password1' placeholder='password' class="input_text" autocomplete="off" required><br>
                    </div>
                    <div class="input_group">
                        <i class="fa fa-key icon"></i>
                        <input type='password' name='password2' placeholder='confirm password'class="input_text" autocomplete="off" required><br>
                    </div>
                    <div class="button_group" id="login_button">
                        <input type='Submit' value="Signup">
                    </div>
                    <div class="fotter">
                        Already registered?<a href="login">Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class='msg'>
            {% for message in messages %}
            <h3> {{message}}</h3>
            {% endfor %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src={% static 'js/main.js' %}></script>
        <script src={% static 'js/upload.js' %}></script>
    </body>
    </html>
